<p>Ciao <%= @resource.email %>!</p>

<p>La tua password è stata modificata, come da te richiesto.</p>

<p>Se non sei stato tu a cambiare la password, scrivici immediatamente rispondendo a questo messaggio.</p>
