<p>Ciao <%= @resource.name %>!</p>

<p>Di seguito trovi il link per modificare la tua password:</p>

<p><%= link_to 'Modifica la mia password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se non hai fatto alcuna richiesta di modifica della password, puoi tranquillamente ignorare questa email.</p>
<p>La tua password può essere modificata solo tramite il link contenuto in questa email.</p>
