<div class="jumbotron">
  <h1 class="display-4">Ciao <%= current_user.name %></h1>

  <p class="lead">Attraverso queste pagine puoi impostare le domande delle lezioni che svolgerai durante i precorsi 2018.</p>

  <hr class="my-4">

  <% if current_lectures.none? %>
    <p>Innanzitutto aggiungi una lezione, poi potrai inserire le domande al suo interno.</p>
    <%= link_to 'Aggiungi la tua lezione', new_lecture_path, class: 'btn btn-primary btn-lg', role: 'button' %>
  <% else %>
    <p>Vai alle tue lezioni e aggiungi o modifica le domande del test.</p>
    <%= link_to 'Vai alle tue lezioni', lectures_path, class: 'btn btn-primary btn-lg', role: 'button' %>
  <% end %>
</div>
